{% extends "baseUser.html" %}
{% load static %}
{% block bodycontent %}
	
   {% if dataErrorRegister %}
     <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-ban"></i> Ups!</h4>
      {{dataErrorRegister}}
    </div>
   {% endif %}
    <div class="card-body register-card-body">
      <p class="login-box-msg">Nuevo usuario</p>

      <form method="POST">{% csrf_token %}
        
        <div class="input-group mb-3">
          {{register_form.email}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{register_form.password}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password2" class="form-control" placeholder="Confirma tu Clave">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               De acuerdo con los <a href="#">T.O.S</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" name="register_form">Registrar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- O -</p>
        <a href="{% url 'loginDashboard' %}" class="text-center">Ya tengo una cuenta</a>
      </div>

      
    </div>
    <!-- /.form-box -->
{% endblock bodycontent %}