{% extends "baseDashboard.html" %}
{% load static %} 
{% block titlepage %}
    Panel Dashboard
{% endblock titlepage %}
{% block breadcrumpage %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'indexDashboard' %}">Dashboard</a></li>    
{% endblock breadcrumpage %}
{% block name_page %}
              Proyecto: {{project.name}} 
              <a href="{% url 'updateProjectDashboard' project.pk %}">
                <button class="btn btn-warning"><i class="fa fa-pencil"></i> Editar Proyecto</button>    
            </a>
{% endblock name_page %}
{% block bodycontent %}
  


<div class="row">
    <div class="col-md-12">
        <div class="card-body">
            <h3> Resumen </h3>
            <div class="callout callout-danger">
                <p>{{project.resume}}</p>
            </div>
        </div>
    </div>
   
</div>
 

 
<div class="row">
    <div class="col-md-12">
        <div class="card-body">
            <h3> Opciones </h3>
            <div class="callout callout">
                <a href="{% url 'listCharacterDashboard' project.pk %}" style="text-decoration:none;">
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i>Personajes</button>
                </a>
                <a href="{% url 'updateProjectDashboard' project.pk %}" style="text-decoration:none;">
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i>Lugares</button>
                </a>
                <a href="{% url 'updateProjectDashboard' project.pk %}" style="text-decoration:none;">
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i>Recursos</button>
                </a>
            </div>
        </div>
    </div>
   
</div>
 


<div class="col-md-12">
    <div class="card card-default">
        
       <div class="card-header">
          <h3 class="card-title">
             <i class="fas fa-bullhorn"></i>
             Lista de Capítulos 
            
            <a href="{% url 'createChapterDashboard' project.pk %}">
                <button class="btn btn-success"><i class="fa fa-plus"></i> Crear Capítulo</button>    
            </a>
          </h3>
         
       </div>
       
       <div class="card-body col-md-12"> 
        {% for chapter in list_chapters  %}
            
                <div class="callout callout-danger">
                    <div class="row">
                        <div class="col-md-1">
                            <img class="chapter-img" src="https://media.istockphoto.com/vectors/chapter-section-vector-id1212671525?k=20&m=1212671525&s=612x612&w=0&h=l2Ex7JQBOCKldG54Zj6OO5vb6cPqEG3J4DhNIhgsjIs=">
                        </div>
                        <div class="col-md-7">
                            <h5>{{chapter.name}}</h5>
                            <p>{{chapter.description}}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'writeChapterDashboard' chapter.project.pk chapter.pk %}">
                                <button class="btn btn-success"><i class="fa fa-pencil-square-o"></i> Editar Capítulo</button>    
                            </a>
                            <a href="{% url 'updateChapterDashboard' chapter.project.pk chapter.pk  %}">
                                <button class="btn btn-warning"><i class="fa fa-pencil"></i> Editar Información</button>    
                            </a>
          
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
         
    </div>
 </div>
 </div>
           
{% endblock bodycontent %}